/* Animations */
@keyframes glowingWubWub {
	from {
		text-shadow: 0px 0px 8px;
	}
	
	to {
		text-shadow: 0px 0px 64px;
	}
}

@keyframes reflectionWubWub {
	from {
		opacity: 0.4;
		transform: translateX(4px) translateY(4px);
	}
	
	25% {
		transform: translateX(1px) translateY(7px);
	}
	
	50% {
		opacity: 0.6;
		transform: translateX(-2px) translateY(4px);
	}
	
	
	75% {
		transform: translateX(1px) translateY(2px);
	}
	
	to {
		opacity: 0.4;
		transform: translateX(4px) translateY(4px);
	}
}

/* Main */
body {
	background: #040404;
	text-align: center;
	color: white;
	font-family: serif;
}

main {
	display: inline-block;
	max-width: 800px;
}

/* Header */
header {
	height: 64px;
	margin: 32px 0px;
}

h1, #titleBackgroundReflect {
	display: inline-block;
	font-size: 64px;
	font-weight: bold;
	color: red;
	
	margin: 0px;
	padding: 0px;
	
	height: 64px;
}

h1 {
	animation-name: glowingWubWub;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out; 
}

#titleBackgroundReflect {
	position: absolute;
	
	color: rgba(0, 0, 0, 0);
	text-shadow: 0px 0px 8px red;
	
	animation-name: reflectionWubWub;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

/* Common */
.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	
	background: #ddd;
	color: #222;
	box-shadow: 0px 0px 8px black inset;
	
	transition: box-shadow 200ms;
}

.button:hover {
	box-shadow: 0px 0px 16px black inset;
}

.button.down {
	box-shadow: 0px 0px 24px black inset;
}

/* Explication */
.explicationDiv {
	margin: 0px 64px;
}

/* Control panel */
.controlPanel {
	display: block;
	
	margin: 16px 64px;
	padding: 16px;
	
	background: #111;
	border-radius: 8px;
	text-align: left;
}

.controlInput {
	display: inline-block;
	
	width: calc(100% - 188px);
	height: 24px;
	
	margin: 0px;
	margin-right: 16px;
	padding: 2px 8px;
	
	background: #111;
	border: 2px solid #333;
	color: white;
	
	font-family: serif;
	
	vertical-align: top;
}

.controlButton {
	width: 140px;
	height: 30px;
	
	line-height: 30px;
	
	margin: 0px;
}

/* Roulette */
#roulette {
	display: block;
	
	border-radius: 8px;
	overflow: hidden;
	
	background: #111;
	
	margin: 16px 64px;
	padding: 16px;
	
	height: 100px;
	
	z-index: 0;
}

#rouletteList {
	display: inline-block;
	
	margin: 0px;
	margin-right: 16px;
	padding: 0px;
	list-style: none;
	
	height: 100px;
	
	box-shadow: 0px 0px 64px black inset;
	
	perspective: 500px;
	
	background: white;
	
	overflow: hidden;
	z-index: 0;
	
	vertical-align: top;
}

.rouletteNick {
	color: #222;
	
	margin: 0px;
	padding: 0px 16px;
	
	font-size: 5vh;
	line-height: 100px;
	vertical-align: middle;
	
	height: 100px;
	
	transform: translateX(0px); /* I don't know why this is needed */
	
	z-index: -10;
}

.rouletteNick.transitionMode {
	transition: transform 500ms, opacity 500ms;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rouletteRollButton {
	width: 100px;
	height: 100px;
	line-height: 100px;
}

/* Footer */
#titleSep, #footerSep {
	margin: 32px 0px;
	
	display: inline-block;
	
	width: 600px;
	height: 1px;
	
	background: white;
	opacity: 0.1;
}

footer {
	color: rgba(255, 255, 255, 0.2);
}
